{% extends 'layouts/page.njk' %}
{% from "search-input/macro.njk" import appSearchInput %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {{ appSearchInput({
      heading: heading,
      hint: hint,
      inputLabel: inputLabel,
      buttonText: buttonText,
      action: action,
      value: fullSearchQuery.value,
      errors: errors,
      errorMessage: errorMessage
    }) }}
  </div>
</div>
{% endblock %}
