{% extends 'layouts/page.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set addressHtml %}{% for line in view.addressLines %}{{ line }}{% if not loop.last %}<br>{% endif %}{% endfor %}{% endset %}

      {% set emailHtml %}
        {%- if view.email -%}
          <a class="govuk-link" href="mailto:{{ view.email }}">{{ view.email }}</a>
        {%- else -%}
          {{ notProvided }}
        {%- endif -%}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          { key: { text: fields.name },          value: { text: view.name } },
          { key: { text: fields.contactPerson }, value: { text: view.contactPersonName } },
          { key: { text: fields.address },       value: { html: addressHtml if view.addressLines.length else notProvided } },
          { key: { text: fields.phone },         value: { text: view.telephone } },
          { key: { text: fields.fax },           value: { text: view.fax } },
          { key: { text: fields.email },         value: { html: emailHtml } }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
