@use "govuk-frontend" as *;

$aq-button-secondary-border: #b1b4b6;
$aq-button-secondary-hover-bg: #dbdad9;
$aq-button-secondary-text: #1d70b8;
$aq-button-secondary-padding: 9px 10px 10px;
$aq-button-secondary-icon-offset-left: 10px;
$aq-button-secondary-icon-size: 11px;
