{% extends 'layouts/page.njk' %}
{% block content %}
  {{ appHeading({
    text: pageTitle
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div
        class="govuk-body" data-testid="app-page-body">
        <!-- Search for a facility-->
        <p>
          <a href="/search-facility" class="govuk-link">
            {{ searchForFacility}}
          </a>
          <br>
            {{ searchForFacilityDescription }}
          </p>
          <hr
            class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- Download data -->
            <p>
              {{ downloadDataDescription }}
            </p>
            <p>
              {{ downloadData }}
              <a href="/download-all-data-for-a-year/{{ language }}" class="govuk-link">
                {{ downloadDataLinkText }}
              </a>
            </p>
          </div>
        </div>
      </div>
    {% endblock %}
